.heroBanner {
  padding: 4rem 0;
}

.logoRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuresSection{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

body[data-theme^='dark']
{
    --ifm-features-background-color: #f5f6f7;
}

body[data-theme='dark']
{
    --ifm-features-background-color: #1c1e2a;
}

.featuresContainer {
  background-color: var(--ifm-features-background-color);
  padding: 4rem 0;
  margin-top: 2rem;
  width: 100%;
}

.featureImage {
  height: 80px;
}

.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.styles.logoPurple
{
    color: #5B389B;
}
