root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_new_line_before_open_brace = all

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = false

[*.js]
indent_size = 2
